@model IEnumerable<RepairSystem.Models.ServiceProvider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityZipCode.ZipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryCity.CityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityZipCode.ZipNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryCity.CityName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ServiceProviderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceProviderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceProviderId })*@
        </td>
    </tr>
}

</table>


<script type="text/javascript">
    function validate()
    {
        var error = "";
        if($("#FirstName").val()=="")
        {
            error = error + "FirstName is Required \n ";
        }
        if ($("#LastName").val() == "") {
            error = error + "LastName is Required \n ";
        }
        if ($("#Email").val() == "") {
            error = error + "Email is Required \n ";
        }
        if ($("#Price").val() == "") {
            error = error + "Price is Required \n ";
        }
        if ($("#CategoryId").val() == "") {
            error = error + "Category is Required \n ";
        }
        if ($("#Location").val() == "") {
            error = error + "Location is Required \n ";
        }
        if ($("#CountryId").val() == "") {
            error = error + "Country is Required \n ";
        }
        if ($("#CityId").val() == "") {
            error = error + "city is Required \n ";
        }
        if ($("#ZipId").val() == "") {
            error = error + "zip code is Required \n ";
        }
        
        if(error.length>0)
        {
            alert(error);
            return false;
        }
        return true;


    }
</script>